#maimeng_area, #history_area,#ad_area{
	position: relative;
	margin-right: 5%;
	margin-top: 0;
	width: 300px;
	overflow: hidden;
	float: right;
	display: inline;
}

.maimeng{
	height: 100px;
}

.maimeng_img{
	position: relative;
	height: 100%;
	width: 50%;
	float: left;
}

.maimeng_face{
	position: absolute;
	left: 15%;
	top: 30%;
	width: 70%;
	cursor: pointer;
}

.maimeng_text{
	position: relative;
	height: 100%;
	width: 50%;
	float: right;
	display: inline;
	font-family: "微软雅黑";
	font-size: 0.4em;
	color: #555;
	font-height:2em;
}

.get_money_rp{
	margin:5px 5px 0 0;
	height: 45%;
	border-bottom: 1px dashed #bbb;
}

.give_money_rp{
	margin:5px 5px 0 0;
	height: 40%;
}

.history_list, .ad_list{
	width: 99.5%;
	min-height: 5px;
	height: auto !important;
	float: left;
	margin:10px auto;
	position: relative;
	border: 1px solid #efefef;
	border-bottom-width: 2px;
	border-radius: 4px;
}

#history_area li{
	font-family: "微软雅黑";
	font-size: 0.4em;
	color: #555;
	font-height:2em;
}

#ad_area li{
	font-family: "微软雅黑";
	font-size: 0.4em;
	color: #555;
	font-height:2em;
	height: 100px;
}

#money, #renpin{
	text-align: center;
	display: block;
	font-size: 1em;
}

#Hover{
	display: none;
	position: fixed;
	bottom: 3%;
	right:0;
	height: 100px;
	width: 20px;
	background: #555;
	color: rgba(0,0,0,0);
	font-size: 1px;
	-webkit-transition: width 2s, color 2s, height 2s, font-size 2s;
}

#Hover:hover{
	cursor: pointer;
	color: #efefef;
	height: 50px;
	width:300px;
	font-size:1em;
}

#hover_text{
	position: absolute;
	top:25%;
	left:20%;
	font-family: "微软雅黑";
}